@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .heading-1 {
    @apply font-display text-lg md:text-xl font-bold leading-negative uppercase;
  }

  h2,
  .heading-2 {
    @apply font-display text-md md:text-lg font-bold leading-none uppercase;
  }

  h3,
  .heading-3 {
    @apply font-sans text-base font-bold leading-none uppercase;
  }

  body,
  .body {
    @apply font-sans text-sm md:text-base leading-normal;
  }
}

@layer components {
  .cta {
    @apply border rounded-full inline-block font-sans text-sm font-bold leading-normal px-7 py-4 uppercase;
  }
}

:root {
  --gray: #d3d3d3;
  --lightgray: #f2f2f2;
  --black: black;
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 40px;
  --space-lg: 64px;
}