@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Trade Gothic';
  src: url(../fonts/TradeGothicLTPro-BdCn20.otf) format('opentype');
}

@layer base {
  h1,
  .heading-1 {
    @apply font-display text-xl md:text-xxl font-bold leading-negative uppercase;
  }

  h2,
  .heading-2 {
    @apply font-display text-md md:text-xl font-bold leading-none uppercase;
  }

  h3,
  .heading-3 {
    @apply font-display text-md md:text-lg font-bold leading-none uppercase;
  }

  h4,
  .heading-4 {
    @apply font-display text-base md:text-md font-bold leading-none uppercase;
  }

  body,
  .body {
    @apply font-sans text-xs md:text-base leading-normal;
  }
}

@layer components {
  .cta {
    min-width: 9.4375rem;
    @apply border rounded-full inline-flex justify-center items-center font-sans text-xs font-bold leading-normal px-7 py-4 text-center uppercase hover-transition;
  }

  .input {
    height: 3.75rem;
    line-height: 3.75rem;
    @apply body px-3 uppercase;
  }

  .input::placeholder {
    @apply text-light-gray;
  }

  .input[type='email'],
  .input[type='text'] {
    @apply bg-black border;
  }

  .input-label {
    @apply body block mb-2;
  }

  .submit-button {
    @apply input bg-navy border border-navy text-white font-display text-md px-5;
  }

  .nav-item {
    font-size: 18px;
    @apply font-display flex items-center leading-none uppercase whitespace-nowrap w-min;
  }

  .nav-item-round {
    @apply border rounded-full flex justify-center items-center h-10 w-10;
  }
}

@layer utilities {
  .hover-transition {
    @apply transition-opacity duration-300 ease-in-out hover:opacity-50;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    @apply hidden h-px absolute whitespace-nowrap w-px;
  }
}
